@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.giscus-frame {
  width: 100%;
}

.icon-link {
  text-decoration: none !important;
  margin-right: 10px;
}

a:has(> span.icon-link) {
  text-decoration: none !important;
}

.icon.icon-link {
  display: inline-block;
  margin-right: 8px;
  color: #14b8a6;
  cursor: pointer;
}

.icon.icon-link:hover {
  color: #0056b3;
}

.icon.icon-link::before {
  content: '#';
  margin-right: 4px;
}

.custom-scroll {
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: 0px;
  scrollbar-color: #2c2c2c transparent;
}

.custom-scroll::-webkit-scrollbar {
  width: 1px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
